#file gede2
.csv
**/.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/.env
**/venv
auth/
auth/google_credentials.json
**/rootkey.csv
auth/rootkey.csv

#folders
**/.ipynb_checkpoints/
terraform/
**/data/
data/
**/**/logs


#yaml
variables.yaml
values.yaml

#csv
data_pgadmin
**/data_pgadmin
ny_taxi_postgres_data/
**/ny_taxi_postgres_data/
**/output.csv
week1/output.csv
week1/taxi+_zone_lookup.csv
week1/yellow_tripdata_2021-01.csv
